@import url('https://fonts.googleapis.com/css?family=Acme|Josefin+Sans');

$font-family-base: 'Josefin Sans', sans-serif;

$font-family-header: 'Acme', sans-serif;

$rootColor: #d9d9d9;
$headerColor: #4484CE;


